<% provide(:title, "Design") %>
<div class="center jumbotron">
<h1>Shawn Shrader</h1>
<p>Photography, design and code examples.</p>
<h2>Photography</h2>
  <div class="row">
    <div class="col-sm-4"><%= image_tag("north_coast.jpg", alt: "North Coast") %></div>
    <div class="col-sm-4"><%= image_tag("lighthouse_down.jpg", alt: "Lighthouse Down") %></div>
    <div class="col-sm-4"><%= image_tag("trail.jpg", alt: "Trail") %></div>
  </div>
<h2>Abstract Design</h2>
  <div class="row">
    <div class="col-sm-4"><%= image_tag("contrast_color.jpg", alt: "Contrast Color") %></div>
    <div class="col-sm-4"><%= image_tag("k9.jpg", alt: "k9") %></div>
		<div class="col-sm-4"><%= image_tag("showing_flow.jpg", alt: "Showing Flow") %></div>
  </div>
<h2>School Projects</h2>
  <div class="row">
    <div class="col-sm-4">
    	<h2>WEBD234</h2><a href="http://einstein.franklin.edu/~shrade02/WEBD234/webd234castlepanic.html">Product Page</a>
    </div>
    <div class="col-sm-4">
    	<h2>WEBD236</h2><a href="http://einstein.franklin.edu/~shrade02/WEBD236/">Array Homework</a>
    </div>
		<div class="col-sm-4">
			<h2>WEBD335</h2><a href="http://einstein.franklin.edu/~shrade02/WEBD335/lab1.html">Lab Page - Refresh to see jQuery animations</a>
		</div>
  </div>